.lowerbody{
    width: 100vw;
    height: 600px;
    margin-top: 80px;
}
h5{
    color: rgb(240, 8, 8);
}
.aboutwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.attract{
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#container{
    display: flex;
    flex-direction: row;

}